= nested_form_for @person do |f|
  - if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    Avatar picture:
    = @person.ava if @person.ava?
    = f.file_field :ava, :class=>"form-control ava_loader", :label=>"Avatar"

  .form-group
    = f.label :name
    = f.text_field :name, :class=>'form-control', placeholder: "Person Name"

  .form-group
    = f.label :phone
    = f.text_field :phone, :class=>'form-control', placeholder: "Person Phone"

  .form-group
    = f.label :email
    = f.text_field :email, :class=>'form-control', placeholder: "Person Email"

  .form-group
    = f.label :web
    = f.text_field :web, :class=>'form-control', placeholder: "Person Web"

  .form-group
    = f.label :twitter
    = f.text_field :twitter, :class=>'form-control', placeholder: "Person Twitter"

  .form-group
    = f.label :user
    = f.collection_select :user_id, User.all, :id, :name, {}, {class: "form-control"}

  .form-group
    = f.label :about
    = f.text_area :about, :class=>'form-control', placeholder: "About Person"

    %h4.top_space Companies:
    %div{ 'data-controller' => 'nested-fields' }
      %template{ 'data-nested-fields-target'=>'template' }
        = f.fields_for :company_people, CompanyPerson.new, child_index: 'TEMPLATE_RECORD' do |c|
          .nested-form-wrapper.nested-fields.top_space{ 'data-controller' => 'choice-item' }
            .form-group
              = c.label :company
              = c.collection_select :company_id, Company.order(:name), :id, :name, {:include_blank => false}, 'data-choice-item-target'=>'selected_item', :class=>"select2"

            .form-group
              = c.label :role
              = c.text_field :role, :class=>'form-control'

            = c.hidden_field :_destroy
            .float-end
              = link_to 'Remove company', '#', data: { action: 'click->nested-fields#remove_record' }

      
      = f.fields_for :company_people do |c|
        .nested-form-wrapper.nested-fields.top_space{ 'data-controller' => 'choice-item' }
          .form-group
            = c.label :company
            = c.collection_select :company_id, Company.order(:name), :id, :name, {:include_blank => false}, 'data-choice-item-target'=>'selected_item', :class=>"select2"

          .form-group
            = c.label :role
            = c.text_field :role, :class=>'form-control'

          = c.hidden_field :_destroy
          .float-end
            = link_to '- Remove company', '#', data: { action: 'click->nested-fields#remove_record' }

      %div.top_space{ 'data-nested-fields-target'=>'add_item' }
        = link_to '+ Add company', '#', data: { action: 'click->nested-fields#add_record' }

  .actions.top_space
    = f.submit 'Save', :class=>"btn btn-success"
    - cancel_attr = { :class=>"btn btn-info"}
    - cancel_attr[:data] = { turbo_frame: '_top' } unless @framed

    = link_to 'Cancel', @after_cancel, cancel_attr
