= turbo_stream_from 'people'

%h1 People

= turbo_frame_tag "people" do
  - @people.ordered.each do |person|
    = render person

%p{:class=>'clearfix'}
  = paginate @people

- content_for :sidebar do
  .container
    %h4 Add:
    = render partial: '/shared/new_menu'
