.navbar.navbar-dark.navbar-expand-lg.bg-primary{role: "navigation"}
  .container-fluid
    %a{class: "navbar-brand", href: "/"}
      JustCRM
    .collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          = link_to "People", people_path, class: "nav-link #{'active' if controller_name == 'people'}"
        %li.nav-item
          = link_to "Companies", companies_path, class: "nav-link #{'active' if controller_name == 'companies'}"
        %li.nav-item
          = link_to "Sales", opportunities_path, class: "nav-link #{'active' if controller_name == 'opportunities'}"

      %ul.navbar-nav.pull-right
        - if user_signed_in?
          %li.nav-item
            = link_to "#{current_user.email}", '', class: "nav-link"
          %li.nav-item
            = link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link"
        - else
          %li.nav-item
            = link_to "Login", new_user_session_path, class: "nav-link"
          %li.nav-item
            = link_to "SignUp", new_user_registration_path, class: "nav-link"

