= turbo_frame_tag company do
  .company.border.entry1
    .row
      .col-md-1
        - ava_pic = company.ava.thumb.url ? company.ava.thumb.url: 'thumb_anonymous.png'
        = image_tag(ava_pic, :class=>"ava_pic", size: "150x150")
      .col-md-11
        %h2.index_show_button
          = link_to company.name, company_path(company), data: { turbo_frame: '_top' }
        %p.about_text
          = company.about

        .row
          .col-md-8
          .col-md-2
            = button_to 'Edit', edit_company_path(company), method: :get, class: 'btn btn-link'
          .col-md-2
            = button_to 'Delete', company_path(company), method: :delete, class: 'btn btn-link', form: { data: { turbo_confirm: "Are you sure you want to delete this?"} }
