%p#notice= notice

%h1
  = @company.name

%h2 People:
- @company.company_people.each do |company_person|
  = render partial: "company_people/short_company_person", locals: {company_person: company_person}

%h2{ style: 'clear:both' } Opportunities:
- @company.opportunities.each do |opportunity|
  = render partial: "opportunities/opportunity", locals: {opportunity: opportunity}

- content_for :sidebar do
  - ava_pic = @company.ava.normal.url ? @company.ava.normal.url: 'thumb_anonymous.png'
  .ava_holder
    = image_tag ava_pic, :class=>"ava_big_pic"
  .border.about_text_frame
    %p{:class=>"show_field"}
      %b About:
      = @company.about
  %p{:class=>"show_field"}
    %b Phone:
    = @company.phone
  %p{:class=>"show_field"}
    %b Address:
    = @company.address
  %p{:class=>"show_field"}
    %b Web:
    = @company.web

  %p{:class=>"show_field"}
    %b Curator:
    = @company.user.name

  = link_to 'Back to Companies list', companies_path
