- @is_list = nil if not (defined? @is_list)

%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title JustTurboCrm
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    = render partial: '/shared/menu'

    #flash.flash
      = render 'shared/flash'

    %div{:class=>"main-form container-fluid"}
      %div{:class=>"row"}
        %div.content.col-md-7
          %p#notice= notice
          = yield
        %div.sidebar.col-md-3
          = yield(:sidebar)
    = render partial: '/shared/footer'